@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
}
.main{
    background-image: url("img/bgimg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100vw;
    opacity: 0.64;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    height: 60px;
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
   position: relative;
   z-index: 1;
}
nav select{
    padding: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 30px; 
    width: 80px;
    background-color: black;
    color: white;
}
nav button{
    height: 30px;
    width: 60px;
    background-color: rgb(216, 49, 49);
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.hero{
    padding top:  20px;
    text-align: center;
    font-family: 'Martel Sans','sans-serif';
    height: calc(70vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    font-size: 20px;
    
}
.hero >:first-child{
    font-size:48px ;
    font-weight: 900;
} 
.hero button{
    font-size: large;
    font-weight: 600;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    height: 45px;
}
.hero button:hover{background-color: rgb(235, 63, 63);}
.hero input{
    color: white;
    height: 37px;
    width: 300px;
    padding-left: 5px;
    background-color: black;
    opacity: 0.7;
}
.seperate{
    height:2px ;
    background-color: rgb(77, 76, 76);
}
.first{
    margin-left: 50px;
    height: 55vh;
    width: 100vw;
    align-content: center;
    color: white;
    padding: 30px;
    font-family: 'Martel Sans','sans-serif';
    font-size: 1.125rem;
    font-weight: 500;
}
.first .bar{
    padding-left: 5px;
    align-content: center;
    height: 45px;
    width: 90vw;
    border: 1px solid rgb(147, 144, 144);
    background-color: black;
    color: aliceblue;
    margin-top: 10px;
    border-radius: 5px;
}
.first .bar select{
    border: none;
    font-size: large;
}
.first .cont{
    margin-top: 20px;
    background-color: black;
    height: 200px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.first .cont .flex{
    background-color: beige;
    height: 200px ;
    width: 150px;
    margin: 0px 10px;
    border-radius: 5px;
   
}
.second{
    margin-left: 50px;
    height: 35vw;
    width: 100vh;
    padding: 30px 30px 0px 30px;
    background-color: black;
    color: white;
    align-items: center;
    font-family: 'Martel Sans','sans-serif';
    font-size: 1.125rem;
    font-weight: 500;
    justify-content: center;
}
.second .cont{
    margin-top: 20px;
    height: 300px;
    width: 1000px;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.second .cont .flex{
    height: 300px;
    width: 220px;
    background-color: rgb(27, 6, 53);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}
.third{
    margin-left: 50px;
    height: 40vw;
    width: 100vh;
    padding: 0px 30px;
    background-color: black;
    color: white;
    align-items: center;
    font-family: 'Martel Sans','sans-serif';
    font-size: 1.125rem;
    font-weight: 500;
    justify-content: center;
}
.third .bar{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 5px;
    background-color: rgb(43, 43, 44);
    height: 70px;
    width: 80vw;
    cursor: pointer;
    font-size: larger;
}
.third .bar:hover{
    background-color: rgb(82, 82, 85);
}
.last{
    text-align: center;
    width: 100vw;
    height: 40vh;
    color: white;
}.last button{
    font-size: large;
    font-weight: 600;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    height: 45px;
}
.last button:hover{background-color: rgb(235, 63, 63);}
.last input{
    color: white;
    height: 37px;
    width: 300px;
    padding-left: 5px;
    background-color: black;
    opacity: 0.7;
}